server:
  port: 8082

spring:
  application:
    name: FREELANCER-SERVICE

  datasource:
    url: jdbc:mysql://localhost:3306/freelancer-microservice
    username: root
    password: RajshiMySql2024
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

jwt:
  secrets: pX9bV2qLmC7dK8tR4eN5wS1jF6hG3zT8yQ9uA2rM5cJ7pL9dS3vW6bY8nQ4tU1k

logging:
  config: classpath:logback-spring.xml
